<div class="timer">
  <div class="modes">
    <app-mode-button (click)="setMode(Modes.Pomodoro)">Work</app-mode-button>
    <app-mode-button (click)="setMode(Modes.ShortBreak)"
      >Take a short walk</app-mode-button
    >
    <app-mode-button (click)="setMode(Modes.LongBreak)"
      >Have a snack</app-mode-button
    >
  </div>

  <ng-container *ngIf="displayTimer$ | async as timer">
    <p>{{ timer.minutes }} : {{ timer.seconds }}</p>
  </ng-container>
</div>

<div class="timer-controls">
  <app-button (click)="startButtonClicked$.next()" [purpose]="Purpose.Start"
    >Start</app-button
  >
  <app-button (click)="pauseButtonClicked$.next()" [purpose]="Purpose.Pause"
    >Pause</app-button
  >
  <app-button (click)="resetButtonClicked$.next()" [purpose]="Purpose.Reset"
    >Reset</app-button
  >
</div>
