<div class="timer">
  <ng-container *ngIf="displayTimer$ | async as timer; else notInitialized">
    <p>{{ timer.minutes }} : {{ timer.seconds }}</p>
  </ng-container>
  <ng-template #notInitialized>
    <p>00 00</p>
  </ng-template>
</div>

<div class="timer-controls">
  <app-button (click)="startButtonClicked$.next()" [purpose]="Purpose.Start"
    >Start</app-button
  >
  <app-button (click)="pauseButtonClicked$.next()" [purpose]="Purpose.Pause"
    >Pause</app-button
  >
  <app-button (click)="resetButtonClicked$.next()" [purpose]="Purpose.Reset"
    >Reset</app-button
  >
</div>
<!-- <button (click)="setMode(Modes.Pomodoro)">Pomodoro</button>
<button (click)="setMode(Modes.ShortBreak)">Short</button>
<button (click)="setMode(Modes.LongBreak)">Long</button> -->

<!-- Debugging -->
<!-- <h1>timer</h1>
<p>
  {{ timer$ | async | json }}
</p>

<h1>Display</h1>
<p>
  {{ displayTimer$ | async | json }}
</p>

<h1>Latest State</h1>
<p>
  {{ timerState$ | async | json }}
</p>
 -->
